<template>
    <div>
        Conteo: <span class="badge" v-text="contador"></span><br>
        <button class="btn btn-primary" @click="sumar()">+</button>
        <button class="btn btn-primary" @click="restar()">-</button>
    </div>
</template>
<script>
    export default {
        data(){ return { contador: 0 }},
        methods: {
            sumar(){ this.contador++; },
            restar(){
                if(this.contador!=0)
                    this.contador--;
            },
        }
    }
</script>
<style>

</style>
