<template>
    <div class="form-group">
        <label class="col-sm-2 control-label"
            v-text="label"
        ></label>
        <div class="col-sm-10">
            <input
            type="text"
            class="form-control"
            :placeholder="tip"
            @input="$emit('input', $event.target.value)"
            >
        </div>
    </div>
</template>
<script>
export default {
    props: {
        label: { default: 'Etiqueta' },
        tip: { default: 'Escriba su texto aqui' },
    },
    data(){ return {
    }},
}
</script>
<style>
</style>
