<template>
    <div>

        <lista-tareas
            :lista="tareas"
        ></lista-tareas>

        <paginar
            v-model="cuantas"
            @change="cantidad()"
            @prev="onPrev()"
            @next="onNext()"
            ></paginar>

        <div class="form-horizontal">

            <in
            label="Tarea"
            tip="Que tienes por hacer hoy"
            v-model="NuevaTarea"
            ></in>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        @click="agregarTarea()"
                    >Enviar</button>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import CustomInput from './CustomInput.vue';
import _ from 'lodash';
export default {
    data(){ return {
        NuevaTarea: '',
        tareas: [],
        cuantas: 2,
        pagina: 1,
        ultima_pagina: 0
    };},
    mounted(){ this.prepararComponente(); },
    methods: {
        cantidad(){
            this.pagina=1;
            this.prepararComponente();
        },
        onNext(){
            if (this.ultima_pagina>this.pagina) {
                this.pagina++;
                this.prepararComponente();
            }
        },
        onPrev(){
            if (this.pagina>1) {
                this.pagina--;
                this.prepararComponente();
            }
        },
        prepararComponente(){
            axios.get(
                "/api/tarea?cuantas="+this.cuantas+"&page="+this.pagina
            )
            .then((res) => this.agregarTareasALaLista(res) )
            .catch((err) => { console.dir(err); });
        },
        agregarTareasALaLista({data}){
            this.tareas = _.map(data.data, (itm) => {
                return {
                    'nombre': itm.nombre,
                    'terminada': !(itm.terminada=='0')
                };
            });
            this.ultima_pagina = data.last_page;
        },
        agregarTareaALaLista({data}){
            if (this.tareas.length==this.cuantas)
                this.tareas.pop();

            this.tareas.unshift({
                'nombre': data.nombre,
                'terminada': !(data.terminada=='0')
            });
            this.NuevaTarea='';
        },
        agregarTarea(){
            if (!this.hayTarea)
                return;

            axios.post('/api/tarea',{ 'tarea':this.NuevaTarea })
            .then((res) => this.agregarTareaALaLista(res) )
            .catch((err) => { console.dir(err); });

        }
    },
    components: { 'in': CustomInput },
    computed:{
        hayTarea(){ return this.NuevaTarea.length>0; }
    }
}
</script>
<style>

</style>
