<template>
    <div>

        <lista-tareas
            :lista="tareas"
        ></lista-tareas>

        <paginar
            v-model="cuantas"
            @change="cantidad()"
            @prev="onPrev()"
            @next="onNext()"
            ></paginar>
    </div>
</template>
<script>
import CustomInput from './CustomInput.vue';
import _ from 'lodash';
export default {
    data(){ return {
        NuevaTarea: '',
        tareas: [],
        cuantas: 2,
        pagina: 1,
        ultima_pagina: 0
    };},
    mounted(){ this.prepararComponente(); },
    methods: {
        cantidad(){
            this.pagina=1;
            this.prepararComponente();
        },
        onNext(){
            if (this.ultima_pagina>this.pagina) {
                this.pagina++;
                this.prepararComponente();
            }
        },
        onPrev(){
            if (this.pagina>1) {
                this.pagina--;
                this.prepararComponente();
            }
        },
        prepararComponente(){
            axios.get(
                "/api/usuario?cuantas="+this.cuantas+"&page="+this.pagina
            )
            .then((res) => this.agregarTareasALaLista(res) )
            .catch((err) => { console.dir(err); });
        },
        agregarTareasALaLista({data}){
            this.tareas = _.map(data.data, (itm) => {
                return {
                    'nombre': itm.name,
                    'terminada': !(itm.terminada=='0')
                };
            });
            this.ultima_pagina = data.last_page;

        },
        agregarTareaALaLista({data}){
            this.tareas.push({
                'nombre': data.nombre,
                'terminada': !(data.terminada=='0')
            });
             this.NuevaTarea='';
        },
        agregarTarea(){
            if (!this.hayTarea)
                return;

            axios.post('/api/usuario',{ 'tarea':this.NuevaTarea })
            .then((res) => this.agregarTareaALaLista(res) )
            .catch((err) => { console.dir(err); });

        }
    },
    components: { 'in': CustomInput },
    computed:{
        hayTarea(){ return this.NuevaTarea.length>0; }
    }
}
</script>
<style>

</style>
