<template>
    <ul class="list-group">
        <li v-for="item in lista" class="list-group-item">
            <span class="text-primary">
                {{item.nombre}}
            </span>
        </li>
    </ul>
</template>
<script>
export default {
    props: { lista: { default: [] } },
    methods: {
        terminada(itm){ return itm.terminada; }
    }
}
</script>
<style>
</style>
