<template>
    <div>
        <select @change="cambio($event.target.value)">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
        </select>
        <nav aria-label="...">
            <ul class="pager">
                <li><a href="#" @click="$emit('prev')">Previous</a></li>
                <li><a href="#" @click="$emit('next')">Next</a></li>
            </ul>
        </nav>
    </div>
</template>
<script>
    export default {
        methods:{
            cambio(val){
                this.$emit('input',parseInt(val));
                this.$emit('change');
            }
        }
    }
</script>
<style>

</style>
