<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 3</title>
    <style>
        .conatiner{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    </style>
</head>
<body>

    <div id="app">

        <div class="container">

            <in
                label="Nombre"
                :err="form.errors.nombre"
                v-model="form.nombre"
            ></in>

            <in
                label="Apellido"
                :err="form.errors.apellido"
                v-model="form.apellido"
            ></in>

            <button>Enviar</button>
        </div>
        <div class="container">
            <h2>Usuarios</h2>
            <button @click="getUsers()">Traer</button>

            <ul>
                <li v-for="user in users">{{ user.name }}</li>
            </ul>

        </div>

    </div>

     <script src="js/form.js"></script>
</body>
</html>
