<template>
    <div class="panel panel-default">
        <div
            class="panel-heading"
            style="display: flex; justify-content: space-between; align-items: center;">
            <div>Extractor</div>
            <div v-if="!inputActive">
                <button
                    @click="show.input=true"
                    class="btn btn-primary btn-sm"
                >Agregar</button>
            </div>
            <div v-if="inputActive">
                <input
                    style="display: inline"
                    ref="fileInput"
                    type="file"
                    @click="clickedFile"
                >
                <label>Pagina:</label>
                <input v-model="pagina" type="text">
                <button
                    @click="uploadFile($refs.fileInput)"
                    class="btn btn-success btn-sm"
                >Enviar</button>
                <button
                    @click="show.input=false; resetForm()"
                    class="btn btn-secondary btn-sm"
                >Cerrar</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Extracto</th>
                        <th>Pagina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="archivo in archivos">
                        <td>{{archivo.nombre}}</td>
                        <td>
                            <watcher
                                :file-id="archivo.id"
                                :mensaje="'Esperando al archivo ' + archivo.nombre + ' con id: ' + archivo.id"
                                :api="api.show+archivo.id"
                                @change="watcherDone($event)"
                            ></watcher>
                            <a :href="archivo.url" class="btn btn-info btn-link">Descargar parcial</a>
                        </td>
                        <td>{{archivo.parcial_pagina}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import Watcher from './Watcher.vue'
import _ from 'lodash';
export default {
    data(){ return {
        api: {
            index: '/api/archivo',
            create: '/api/archivo',
            create_headers: { 'Content-Type': 'multipart/form-data' },
            show: '/api/archivo/'
        },
        watching: false, watcher: null,
        show: { input: false },
        working: false,
        errors: null,
        form: new FormData(),
        pagina: null,
        archivos: []
    }},
    mounted(){ this.prepareComponent(); },
    methods: {
        prepareComponent(){
           axios.get(this.api.index)
           .then( ({data}) => {
            this.archivos = data.data;
        })
           .catch( (res) => { console.dir(res); });
       },
       watcherDone(archivo){
            this.archivos[parseInt(archivo.id)-1]['parcial']=archivo.parcial;
       },
       clickedFile(){ this.errors = null; },
       uploadFile(e){
        this.working = true;
        this.errors = null;
        this.form = new FormData();
        let files = e.files || e.dataTransfer.files;
        this.prepareFiles(files);
        this.postToBackend();
    },
    prepareFiles(files){
        if (!files.length)
            return;

        this.form.append('pdf', files[0]);

        if (this.pagina)
            this.form.append('pagina', this.pagina);
    },
    postToBackend(){
        axios.post(this.api.create, this.form, { headers: this.api.create_headers } )
        .then( ( res ) => this.startSplit(res) )
        .catch( (res) => { console.dir(res); });
    },
    startSplit( {data} ){
           this.archivos.push(data.data);
           this.$refs.fileInput.value="";
           this.form = new FormData();
           this.working = true;
           this.errors = null;
       },
    resetForm(){
      this.working = false;
      this.errors = null;
      this.pagina = null;
  }
},
    computed: {
        inputActive(){ return this.show.input; }
    },
    components: {
        'watcher': Watcher
    }
}
</script>
<style>

</style>
