<template>
    <div v-if="!isDone">
        <spin :msg="mensaje"></spin>
    </div>
</template>
<script>
import Spin from './Spin.vue'
export default {
 props: {
        fileId: { default: null },
        mensaje: { default: 'Cargando...' },
        api: { default: null }
 },
 mounted(){
     axios.get(this.api)
     .then( ( {data} ) => {
        this.archivo = data.data;
        this.startWatcher();
    })
     .catch( (res) => { console.dir(res); });
 },
 data(){ return {
    archivo: null,
    watching: false,
    watcher: null
}},
methods: {
    fileWatcher(){
        axios.get(this.api)
        .then( ( {data} ) => {
            this.archivo = data.data;
            if (this.isDone) {
                this.watching = false;
                this.stopWatcher();

            }
        })
        .catch( (res) => { console.dir(res); });
    },
    startWatcher(){
        if (!this.watching && !this.isDone) {
            this.watcher = window.setInterval(this.fileWatcher, 2000);
            this.watching = true;
        }
    },
    stopWatcher(){
        if (this.isDone) {
            window.clearInterval(this.watcher);
            this.watching = false;
        }
        this.$emit('change', this.archivo);
    },
},
computed: {
    isDone(){
        return (this.archivo && this.archivo.parcial!=undefined)? true: false;
    }
},
components: { 'spin': Spin }
}
</script>
<style>

</style>
