<template>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title" v-text="titulo"></h4>
            <h6 class="card-subtitle mb-2 text-muted" v-text="sub"></h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="usuario in usuarios">
                {{ usuario.name }}
                <small class="clearfix">{{usuario.web}}</small>
            </li>
        </ul>
    </div>
</template>
<script>
import axios from 'axios';
import _ from 'lodash';

export default {
    props: {
        titulo: { default: 'Titulo' },
        sub: { default: 'Descripcion' },
    },
    data(){ return {
        api:{
            remote: {
                users: 'https://jsonplaceholder.typicode.com/users'
            }
        },
        usuarios: []
    }},
    mounted(){ this.prepareComponent(); },
    methods: {
        prepareComponent(){
            this.traerUsuarios();
        },
        formateaUsuarios(usuarios){
            let items = _.map(usuarios,(itm) => {
                return {
                    'name': itm.name,
                    'web': itm.website
                };
            });
            this.usuarios = items;
        },
        traerUsuarios(){
            axios.get(this.api.remote.users)
            .then( ({data}) => this.formateaUsuarios(data) )
            .catch( (response)=>{ } );

        }
    }
}
</script>
<style>

</style>
