<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            .item {
                padding: 3px;
                display: block;
                font-size: 12;
                margin-bottom: 7px;
                background-color:#BDF5B0;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <h1 v-text="titulo"></h1>

            <span
                class="item"
                v-for="tarea in tareas"
                v-text="tarea"
                @click="quitarTarea(tarea)"
            ></span>

            <input
                v-model="nuevaTarea"
                type="text"
                @keyup.enter="agregarTarea"
            />
        </div>
        <script
            src="js/bundle.js"
        ></script>
    </body>
</html>
