<template>
    <div>
        <h2>Conteo: {{ conteo }}</h2>
        <button @click="conteo++">+</button>
        <button @click="conteo--">-</button>
    </div>
</template>
<script>
    export default {
        data(){ return {
            conteo: 0
        };}
    }
</script>
