<template>
    <div class="control">
        <span class="lb" v-text="label"></span>
        <input
            @input="mandarValor($event.target.value)"
            type="text"
        >
        <span class="err"
            v-if="tengoError"
            v-text="err"
        ></span>
    </div>
</template>
<script>
export default {
    props: {
        label: { default: 'Etiqueta' },
        err: { default: null }
    },
    data(){ return {}},
    methods: {
        mandarValor(valor){
            this.$emit( 'input', valor );
        }
    },
    computed: {
        tengoError(){ return this.err!=null; }
    }
}
</script>
<style>
.control {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #FCD07A;
    border-radius: 3px;
}
.lb{
    display: block;
}
.err {
    background-color: red;
    color: white;
    font-size: .9em;
    display: block;
    margin-top: .5em;
}
</style>
